body{
    background-color: rgb(241, 201, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    height: auto;
    margin-top: 30px;
    font-family: sans-serif;
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 188);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
button{
    width: 150px;
    height: 80px;
    border: 2px solid black;
    background-color: rgb(235, 235, 188);
    border-radius: 8px;
    margin: 20px;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    transition-duration: .2s;
}
button:hover{
    background-color: rgb(248, 152, 113);
    color: black;
}button:focus{
    background-color: rgb(233, 147, 135);
    color: rgb(87, 5, 5);
}
.content{
    background-color: aqua;
    margin-top: 50px;

    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 960px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.restoTitle, .menu_head, .contact_head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 7px solid rgb(133, 40, 4);
    border-radius: 50px;
    font-size: 75px;
    padding: 18px;
    background-color: rgb(255, 218, 163);
}
.resto_intro_combo, .resto_timing_combo, .resto_loc_combo, .bev_title, .milkTea, .side_title, .TnJ, .hiroshi{
    border: 7px solid rgb(133, 40, 4);
    border-radius: 50px;
    width: 750px;
    font-size: 28px;
    padding: 22px;
    background-color: rgb(235, 223, 205);
    color: black;
    margin: 12px;
}
.restoIntro{
    justify-content: space-evenly;
}
.restoIntro_footer{
    font-weight: bolder;
    margin-top: 18px;
    margin-left: 30px;
}
footer{
    font-size: 60px;
    margin-top: 30px;
}


